<style>
  header {
    background-color: {setting_item('theme.navbar_color')|noescape};
  }

  .main .headerMenu,
  .main .headerButton {
    color: {setting_item('theme.navbar_text_color')|noescape} !important;
  }

  .appHeader .pageTitle {
    font-size: 20px;
    font-weight: 700;
  }

  .appHeader.scrolled {
    transition: none;
  }

  .appHeader.scrolled .pageTitle {
    opacity: 1 !important;
  }

  .appHeader .pageTitle span {
    font-size: 1.5rem;
    display: inline-block;
    padding-bottom: 5px;
    vertical-align: bottom;
    position: absolute;
  }
</style>

<!-- App Header -->
<div class="appHeader main" style="background-color: {setting_item('theme.navbar_color')|noescape};">
  <div class="left">
    <div class="pageTitle">
      {if setting_item('site.site_logo')}
      <img src="{setting_item('site.site_logo')}" alt="{setting_item('site.site_title')}" style="height:40px;">
      {else}
      <span class="ms-1 text-white">{setting_item('site.site_title')}</span>
      {/if}
    </div>
  </div>
  <div class="right">
    {if config_item('modules')['navigation'] ?? ''}
      {var $area = shortcode('navigation.area', ['area'=>'frontend'])}
      {if $area}
      <div class="d-none">
        {foreach $area as $nav}
        <a href="{$nav['url_type'] == 'uri' ? site_url($nav['url']) : $nav_url}"
          class="d-inline-block headerMenu">{$nav['caption']}</a>
        {/foreach}
      </div>
      {/if}
    {/if}

    <a href="#" class="headerButton toggle-searchbox">
      <i class="bi bi-search"></i>
    </a>

    {if config_item('modules')['product'] ?? ''}
    <!-- <a href="{site_url('cart')}" class="mb-0 headerButton">
      <i class="bi bi-cart"></i>
      {var $total = ci()->cart->getTotalItem()}
      {if $total > 0}
      <span class="badge badge-danger cart-notif">{$total}</span>
      {/if}
    </a> -->
    {/if}
  </div>
</div>

<!-- Search Component -->
<div id="search" class="appHeader">
  <form class="search-form" action="{site_url('search')}" method="get" accept-charset="utf-8">
    <div class="form-group searchbox">
      <input type="text" class="form-control" placeholder="Search...">
      <i class="input-icon">
        <ion-icon name="search-outline"></ion-icon>
      </i>
      <a href="#" class="ms-1 close toggle-searchbox">
        <ion-icon name="close-circle"></ion-icon>
      </a>
    </div>
  </form>
</div>
<!-- * Search Component -->