<style>
  .profileBox {
    background: #fafafa;
  }
  .profileBox .image-wrapper .avatar {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
  }    
</style>

<!-- Sidebar Menu -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="sidebarPanel">
  <div class="offcanvas-body">
    
    {if $me ?? ''}
    <!-- profile box -->
    <div class="profileBox">
        <div class="image-wrapper">
          {if $me['avatar']}
          <img src="{base_url().'uploads/'.$_ENV['SITENAME'].'/entry_files/'.$me['avatar']}" alt="avatar" class="avatar">
          {else}
          <img src="{base_url().'views/mobilekit/assets/img/default-avatar-m.png'}" alt="avatar" class="avatar">
          {/if}
        </div>
        <div class="in">
            <strong class="text-dark">{$me['name']}</strong>
            <div class="text-secondary">
                <ion-icon name="location"></ion-icon>
                {$me['city']}
            </div>
        </div>
        <a href="#" class="close-sidebar-button text-secondary" data-bs-dismiss="offcanvas">
            <ion-icon name="close"></ion-icon>
        </a>
    </div>
    <!-- * profile box -->
    {/if}


    <ul class="listview flush transparent no-line image-listview mt-2 pt-2">
      <li>
        <a class="item" data-bs-dismiss="offcanvas" href="{site_url('courses')}">
          <div class="icon-box">
              <ion-icon name="book"></ion-icon>
          </div>
          <div class="in">
              Learn
          </div>
        </a>
      </li>
      <li>
        <a class="item" data-bs-dismiss="offcanvas" href="{site_url('catalog')}">
          <div class="icon-box">
              <ion-icon name="gift"></ion-icon>
          </div>
          <div class="in">
              Catalog
          </div>
        </a>
      </li>
      <li>
        <a class="item" data-bs-dismiss="offcanvas" href="{site_url('earning')}">
          <div class="icon-box">
              <ion-icon name="cash"></ion-icon>
          </div>
          <div class="in">
              Referral
          </div>
        </a>
      </li>
      {if setting_item('membership.enable') == 'on'}
      <li>
        <a class="item" data-bs-dismiss="offcanvas" href="{site_url('profile/membership')}">
          <div class="icon-box">
              <ion-icon name="star"></ion-icon>
          </div>
          <div class="in">
              Membership
          </div>
        </a>
      </li>
      {/if}

      {if $me ?? ''}
      <li>
        <a class="item" data-bs-dismiss="offcanvas" href="{site_url('profile/invoice?filter_transaction_status=pending')}">
          <div class="icon-box">
              <ion-icon name="clipboard"></ion-icon>
          </div>
          <div class="in">
              Billing
          </div>
        </a>
      </li>
      <li>
        <a class="item" data-bs-dismiss="offcanvas" href="{site_url('profile/edit')}">
          <div class="icon-box">
              <ion-icon name="create"></ion-icon>
          </div>
          <div class="in">
              Edit Profile
          </div>
        </a>
      </li>
      <li>
        <a class="item" data-bs-dismiss="offcanvas" href="{site_url('auth/logout')}" onclick="return confirm('Anda yakin akan keluar dari aplikasi?')">
          <div class="icon-box text-danger">
              <ion-icon name="lock-closed-outline"></ion-icon>
          </div>
          <div class="in text-danger">
              Logout
          </div>
        </a>
      </li>
      {else}

      <li>
        <a class="item" data-bs-dismiss="offcanvas" href="{site_url('auth/login')}">
          <div class="icon-box">
              <ion-icon name="lock-closed-outline"></ion-icon>
          </div>
          <div class="in">
              Login
          </div>
        </a>
      </li>

      {/if}

    </ul>
  </div>
</div>
<!-- * Sidebar Menu -->