<!DOCTYPE html>
<html lang="id" dir="ltr">
<head>
	{include '../partials/head.html'}

	{block stylesheet}{/block}
    {include '../partials/custom_css.html'}
</head>
<body>
    <div id="{setting_item('theme.enable_pjax_frontend') == '1' ? 'pjax-container' : ''}">
        <!-- loader -->
        <div id="loader">
            <div class="text-center">
                <img src="{$child_theme_url.'assets/logo-192.png'}" alt="" class="d-block">
                <div class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status"></div>
            </div>
        </div>
        <!-- * loader -->

        {block header}
        <header class="shadow-sm">
            {include '../partials/navbar.html'}
        </header>
        {/block}

        <div id="main" style="max-width:1024px; margin:0 auto;">

            <!-- App Capsule -->
            <div id="appCapsule">

                <div class="appContent">

                    {block content}{/block}

                </div>

                {block footer}{/block}    

            </div>
            <!-- * appCapsule -->

            {block bottommenu}
                {include '../partials/bottommenu.html'}
            {/block}

        </div>

        {include '../partials/sidebar.html'}

        <!-- ///////////// Js Files ////////////////////  -->
        <!-- Bootstrap-->
        <script src="{$theme_url}assets/js/lib/bootstrap.min.js"></script>
        <!-- Ionicons -->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <!-- Splide -->
        <script src="{$theme_url}assets/js/plugins/splide/splide.min.js"></script>
        <!-- PJAX -->
        <script src="https://cdn.jsdelivr.net/npm/jquery-pjax@2.0.1/jquery.pjax.min.js"></script>
        <!-- Base Js File -->
        <script src="{$theme_url}assets/js/base.js?v1.1"></script>

        <!-- Toastr Message from Flashdata -->
        <div id="toastr-message" class="d-none">{flashdata('toastr')}</div>
        <div id="the-toast" class="toast-box">
            <div class="in">
                <div id="toast-text" class="text">Message</div>
            </div>
            <button type="button" class="btn btn-sm btn-text-light close-button">OK</button>
        </div>
        <script>
            $(function () {
                let toastrMsg = $('#toastr-message').text();
                if (toastrMsg) {
                    let toastrData = JSON.parse(toastrMsg);
                    $('#the-toast').addClass('bg-' + toastrData['type']);
                    $('#the-toast').addClass('toast-' + (toastrData.position ?? 'bottom'));
                    $('#toast-text').text(toastrData.message);
                    toastbox('the-toast');
                }
            })
        </script>

        {if (setting_item('theme.enable_pjax_frontend') ?? true)}
        <script n:syntax="off">
            $(function () {
                // PJAX
                if ($.support.pjax) {
                    $(document).pjax('a:not([data-pjax=false])', '#pjax-container');
                    $.pjax.defaults.timeout = 2000;
                    $(document).on('pjax:start', function () {
                        $('#loader').show();
                    });
                    $(document).on('pjax:success', function () {
                        var loader = document.getElementById('loader');
                        var main = document.getElementById("main")
                        setTimeout(() => {
                            loader.setAttribute("style", "pointer-events: none; opacity: 0; transition: 0.2s ease-in-out;");
                            main.setAttribute("style", "opacity: 1;")
                            setTimeout(() => {
                                loader.setAttribute("style", "display: none;")
                            }, 1000);
                        }, 450);
                    });
                }

                // Full Carousel
                document.querySelectorAll('.carousel-full').forEach(carousel => new Splide(carousel, {
                    perPage: 1,
                    rewind: true,
                    type: "loop",
                    gap: 0,
                    arrows: false,
                    pagination: false,
                }).mount());

                // Single Carousel
                document.querySelectorAll('.carousel-single').forEach(carousel => new Splide(carousel, {
                    perPage: 3,
                    rewind: true,
                    type: "loop",
                    gap: 16,
                    padding: 16,
                    arrows: false,
                    pagination: false,
                    breakpoints: {
                        768: {
                            perPage: 1
                        },
                        991: {
                            perPage: 2
                        }
                    }
                }).mount());

                // Single Carousel Alternative #hack
                document.querySelectorAll('.carousel-single2').forEach(carousel => new Splide(carousel, {
                    perPage: 2,
                    rewind: false,
                    type: "slide",
                    gap: 16,
                    padding: { left: 16, right: 48 },
                    arrows: false,
                    pagination: false,
                    breakpoints: {
                        768: {
                            perPage: 1
                        }
                    }
                }).mount());

                // Multiple Carousel
                document.querySelectorAll('.carousel-multiple').forEach(carousel => new Splide(carousel, {
                    perPage: 4,
                    rewind: true,
                    type: "loop",
                    gap: 16,
                    padding: 16,
                    arrows: false,
                    pagination: false,
                    breakpoints: {
                        768: {
                            perPage: 2
                        },
                        991: {
                            perPage: 3
                        }
                    }
                }).mount());

                // Multiple Carousel Alternative #hack
                document.querySelectorAll('.carousel-multiple2').forEach(carousel => new Splide(carousel, {
                    perPage: 3,
                    rewind: true,
                    type: "slide",
                    gap: 16,
                    padding: { left: 16, right: 32 },
                    arrows: false,
                    pagination: false,
                    breakpoints: {
                        768: {
                            perPage: 2
                        }
                    }
                }).mount());

                // Small Carousel
                document.querySelectorAll('.carousel-small').forEach(carousel => new Splide(carousel, {
                    perPage: 9,
                    rewind: false,
                    type: "loop",
                    gap: 16,
                    padding: 16,
                    arrows: false,
                    pagination: false,
                    breakpoints: {
                        768: {
                            perPage: 5
                        },
                        991: {
                            perPage: 7
                        }
                    }
                }).mount());

                // Small Carousel Alternative #hack
                document.querySelectorAll('.carousel-small2').forEach(carousel => new Splide(carousel, {
                    perPage: 7,
                    rewind: false,
                    type: "slide",
                    gap: 16,
                    padding: 16,
                    arrows: false,
                    pagination: false,
                    breakpoints: {
                        768: {
                            perPage: 5
                        }
                    }
                }).mount());

                // Slider Carousel
                document.querySelectorAll('.carousel-slider').forEach(carousel => new Splide(carousel, {
                    perPage: 1,
                    rewind: false,
                    type: "loop",
                    gap: 16,
                    padding: 16,
                    arrows: false,
                    pagination: true
                }).mount());

                // Slider Carousel Alternative #hack
                document.querySelectorAll('.carousel-slider2').forEach(carousel => new Splide(carousel, {
                    perPage: 1,
                    rewind: true,
                    autoplay: true,
                    interval: 5000,
                    type: "loop",
                    gap: 15,
                    padding: 30,
                    arrows: false,
                    pagination: false,
                }).mount());

                // Stories Carousel
                document.querySelectorAll('.story-block').forEach(carousel => new Splide(carousel, {
                    perPage: 16,
                    rewind: false,
                    type: "slide",
                    gap: 16,
                    padding: 16,
                    arrows: false,
                    pagination: false,
                    breakpoints: {
                        500: {
                            perPage: 4
                        },
                        768: {
                            perPage: 7
                        },
                        1200: {
                            perPage: 11
                        }
                    }
                }).mount());
            });
        </script>
        {/if}

        {embed_entry_script()}
    </div>
    <!-- END pjax-container -->

    {if setting_item('theme.enable_sw') && file_exists('sw_'.$_ENV['SITENAME'].'.js')}
    <div id="serviceWorkerName" data-name="sw_{$_ENV['SITENAME']}"></div>
    <script n:syntax="off">
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        let serviceWorkerName = document.querySelector('#serviceWorkerName').dataset.name;
        navigator.serviceWorker.register(`/${serviceWorkerName}.js`);
      });
    } else {
        console.debug('Service-worker not supported');
    }
    </script>
    {/if}

</body>

</html>